@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
}

/* Up to Extra Large Screen */
@media only screen and (max-width: 1280px) {
  .navBarBig {
    visibility: collapse;
  }
}
/* Above Extra Large Screen */
@media only screen and (min-width: 1280px) {
  .navBar {
    visibility: collapse;
  }
}

.login-position {
  padding-right: 10%;
}

.product {
  width: 100;
}

button {
  -webkit-tap-highlight-color: transparent;
}

link {
  -webkit-tap-highlight-color: transparent;
}

.bg-contactinput {
  background-color: #f5f1ef;
}

.bg-span {
  background-color: #ad974f;
}
